// generic colour settings

$cc-yellow: #EEB111;
$cc-yellow-web: #FFD912;
$cc-maroon: #98132F;


//color array
$list: (
   yellow-1: $cc-yellow,
   yellow-2: $cc-yellow-web,
   maroon: $cc-maroon,
  );